/* CSS by PlytaX */
@import url("/assets/font-awesome.min.css");
/* Header */
body {
	margin: 0;
	background: #B1467F;    /* color nav bar #ff0066 */
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #B1467F;  /* background*/
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 10px 0px;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #FFFFFF ;      /* letters nav board */
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #4EB980;    /* letters nav board */
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444; 

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}




/* Main Body */


.wrap {
    width: 100%;
}

.floatleft {
    float:left; 
    width: 20%;
    background-color: #4EB980;
    height: 712px;
}

.floatright {
float: right;
    background-color: #FFFFFF;
    height: 712px;
    width: 80%;
}








